{% extends "base.html" %}

{% block content %}
<section class="hero is-dark is-fullheight is-centered has-text-centered is-404">
    <div class="hero-body">
        <div class="container">
            <div class="logo" style="background-image: url('/static/img/akeno.jpg');"></div>
            <h1 class="title">dxd.moe</h1>
            <h2 class="subtitle">404 - Not found</h2>
            <h2 class="subtitle">Ala ala, are you lost ?</h2>
            <a class="button" href="/">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span>Go back home</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}