<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DxD.moe | {{ title }}</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <noscript>
        <style>
            .hero * {
                display: none;
            }
        </style>
        <meta http-equiv="refresh" content="0;URL=/not-supported">
    </noscript>

    {% block content %}{% endblock %}

    <script>
        try {
            eval("() => {}");
        } catch (error) {
            window.location.href = "/not-supported";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    {% block script %}{% endblock %}
</body>

</html>