<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DxD.moe | {{ title }}</title>

    <meta property="og:title" content="DxD Moe | {{ title }}">
    <meta property="og:site_name" content="DxD Moe">
    <meta property="og:url" content="https://dxd.moe">
    <meta property="og:description" content="A ecchi file uploader">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://dxd.moe/static/img/akeno.jpg">
    <meta name="theme-color" content="#695aa7">

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <section class="hero is-dark is-fullheight is-centered has-text-centered is-error">
        <div class="hero-body">
            <div class="container">
                <div class="logo"></div>
                <h1 class="title">dxd.moe</h1>
                <h2 class="subtitle">{{ title }}</h2>
                <h2 class="subtitle">{{ message }}</h2>
            </div>
        </div>
    </section>
</body>

</html>