{% extends "base.html" %}

{% block content %}
<section class="hero is-dark is-fullheight is-centered has-text-centered is-upload">
    <div class="hero-body">
        <div class="container">
            <div class="logo"></div>
            <h1 class="title">dxd.moe</h1>
            <h2 class="subtitle">A <b>ecchi</b> self-hosted file upload service</h2>
            <h2 class="subtitle">You can upload up to {{ max_size }}Mb</h2>
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active" id="upload-tab">
                        <a>
                            <span class="icon is-small"><i class="fas fa-file" aria-hidden="true"></i></span>
                            <span>Upload</span>
                        </a>
                    </li>
                    <li id="config-tab">
                        <a>
                            <span class="icon is-small"><i class="fas fa-cogs" aria-hidden="true"></i></span>
                            <span>Config</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form id="config-form" hidden>
                <div class="field">
                    <label class="label">Domain preference:</label>
                    <div class="control">
                        <div class="select" id="domain">
                            <select name="domain">
                                <option value="random">Random</option>
                                <option value="random">Random</option>
                                <option value="rias.dxd.moe">rias.dxd.moe</option>
                                <option value="akeno.dxd.moe">akeno.dxd.moe</option>
                                <option value="irina.dxd.moe">irina.dxd.moe</option>
                                <option value="koneko.dxd.moe">koneko.dxd.moe</option>
                                <option value="asia.dxd.moe">asia.dxd.moe</option>
                                <option value="xenovia.dxd.moe">xenovia.dxd.moe</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Max simultaneous upload:</label>
                    <div class="control">
                        <input class="input" type="number" value="2" id="sim-up">
                    </div>
                </div>
            </form>
            <form id="upload-form">
                <button class="button" id="filedrop">
                    <span class="icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </span>
                    <span>Click here or drag & drop files</span>
                </button>
                <input type="file" name="files[]" hidden multiple id="fileinput">
                <div class="up-files-list" hidden>
                </div>
            </form>
            <div class="urls">
                <a href="https://github.com/0x394/dxd.moe" target="_blank">
                    Github
                </a>
                |
                <a href="/sharex">
                    ShareX
                </a>
                |
                <a href="/faq">
                    FAQ
                </a>
            </div>
            <p class="subtitle">Last commit: <a class="commit"
                    href="https://github.com/0x394/dxd.moe/commit/{{ git_hash }}" target="_blank">{{ git_hash }}</a></p>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="/static/script.js"></script>
{% endblock %}

{% block metadata %}
<meta property="og:image" content="https://dxd.moe/static/img/rias.png">
<meta name="theme-color" content="#9f568f">
{% endblock %}